* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, Verdana, sans-serif;
  background-color: #aaaaaa;
  font-size: 18px;
}

.column {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
  box-shadow: 0 0 15px 2px #444444;
  padding: 40px 40px 0;
  position: relative;
}

.inputs-input {
  margin-right: 20px;
}

.inputs-input:last-child {
  margin-right: 0;
}

